body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.edit-page-container{
    text-align: center;
    width: 100%;
}

.table {
	width: 80%;
    margin: 50px auto;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #4a90e2;
	border: 1px solid #dddddd;
    color: white;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}